html{
  margin: 0px;
  padding: 0px;
}
.boxlogin{
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 2px 10px #d6d6d6;
  margin: 100px auto;
  width: 320px;
  -webki-border-radius: 4px;
  -moz-border-radius: 4px;
}
.boton{
  text-align: center;
}
input[type="submit"]{
  margin-top: 20px;
}
